{% extends "Templates/layout.html.twig" %}
{% block title %}
{{ parent() }}{% if datas.id ?? 0 > 0 %}Edit{% else %}Add{% endif %}
{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock %}

{% block content %}
<section id="edit-receipe">
    <div>
        <p>{% include 'Components/__errors.html.twig' %}</p>
    </div>
    <article class="grid">
        <div>
            <hgroup>
                {% if datas|length > 0 and datas.id > 0 %}
                <h1>Modification</h1>
                <h2>De La Recette N°{{ datas.id ?? 0 }}</h2>
                {% else %}
                <h1>Création</h1>
                <h2>Nouvelle Recette</h2>
                {% endif %}
            </hgroup>

            <form method="post" action="">
                <input type="hidden" id="id" name="id" value="{{ datas.id ?? 0 }}">
                <label for="title">Titre</label>
                <input type="text" placeholder="Titre de la recette" id="title" name="title" value="{{ datas.title ?? '' }}" maxlength="<?= $maxLengthTitle ?>" required>
                <label for="description">description</label>
                <textarea placeholder="Description de la recette" id="description" name="description" cols="30" rows="10" required>{{ datas.description ?? '' }}</textarea>
                <section id="buttons">
                    <div class="grid">
                        <button type="submit">{% if datas.id ?? 0 > 0 %}Update{% else %}Add{% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                        <a href="/">
                            <button label="Home" name="Home" id="Home" class="secondary">Home
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                </svg>
                            </button>
                        </a>
                    </div>
                </section>
            </form>
        </div>
    </article>
</section>
{% endblock %}